.root {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 2rem;
  border: 0.5rem solid #c6b58c;
  height: 100%;
  background: white;
  padding: 0 1rem 1rem;

  --_fr-section-radius: 1.5rem;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
}

.icon {
  image-rendering: pixelated;
  object-fit: contain;
  height: calc(var(--fr-fz-md) * 3);
  width: calc(var(--fr-fz-md) * 3);
}

.index {
  font-size: var(--fr-fz-sm);
}

.name {
  font-size: var(--fr-fz-md);
  margin-left: 16px;
  text-transform: uppercase;
}

.size {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    font-size: var(--fr-fz-sm);
  }
}

.silhouette-wrapper {
  display: flex;
  align-items: flex-end;
  border: 0.3rem solid #c6b58c;
  border-radius: 1rem;
  justify-content: space-around;
  height: calc(var(--fr-fz-md) * 4.8);
}

.silhouette {
  filter: contrast(0) brightness(64%);
  image-rendering: pixelated;
  opacity: 1;
  object-fit: contain;
  height: calc(var(--fr-fz-md) * 4.5 * var(--ratio, 1));
}

.area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
