.root {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: var(--fr-fz-md);
  position: relative;
  margin-left: 80px;
  cursor: pointer;

  &[data-variant='orange'] {
    font-size: var(--fr-fz-lg);
    margin-left: 30px;
  }

  @media screen and (max-width: 416px) {
    margin-left: 40px;

    &[data-variant='orange'] {
      margin-left: 10px;
    }
  }

  &[data-active='true'] {
    &::before {
      content: '▶';
      position: absolute;
      margin-top: auto;
      margin-bottom: auto;
      left: -1em;
      text-shadow: var(--fr-black-shadow) 2px 0.5px;
    }
  }
}
