.root {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: var(--fr-fz-md);
  position: relative;
  margin-left: 80px;

  &[data-variant='orange'] {
    font-size: var(--fr-fz-heading);
    margin-left: 30px;
  }

  &[data-active='true'] {
    &::before {
      content: "▶";
      position: absolute;
      margin-top: auto;
      margin-bottom: auto;
      left: -1em;
      text-shadow: var(--fr-black-shadow) 2px 0.5px;
    }
  }
}
