.root-wrapper {
  --_avatar-width: 250px;
  --_avatar-height: 250px;

  height: 100%;
  display: flex;
  flex-wrap: wrap;
  max-height: var(--fr-main-height);
  overflow: auto;

  :where(&[data-page-length='1']) {
    justify-content: center;
  }

  :where(&[data-page-length='2']) {
    justify-content: space-around;

    > :nth-child(2) {
      margin-top: calc(var(--_avatar-width) / 5 * 4);
    }
  }

  :where(&[data-page-length='3']) {
    justify-content: space-around;

    > :nth-child(2) {
      margin-top: var(--_avatar-width);
    }

    > :last-child {
      margin-top: 2rem;
    }
  }

  :where(&[data-page-length='4']) {
    justify-content: space-around;

    > :nth-child(2),
    > :nth-child(3) {
      margin-top: var(--_avatar-width);
    }
  }

  @media screen and (max-width: 1016px) {
    display: grid;

    &[data-page-length='1'] {
      display: flex;
      align-items: center;

      > * {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    > * {
      margin-top: 0;
    }

    &:not([data-page-length='1']) {
      > :where(:nth-child(odd)) {
        margin-right: var(--_avatar-width);
      }

      > :where(:nth-child(even)) {
        margin-left: var(--_avatar-width);
      }
    }
  }

  &:not([data-page-length='1']) {
    @media screen and (max-width: 576px) {
      display: flex;
      justify-content: unset;

      > * {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      > :where(:nth-child(odd)) {
        margin-right: auto;
      }

      > :where(:nth-child(even)) {
        margin-left: auto;
      }
    }
  }
}

.root {
  --_bg-color: #c6b58c;
  position: relative;
}

@keyframes avatar-background {
  0% {
    --_bg-color: #ff8d68;
  }

  25% {
    --_bg-color: #ee9b79;
  }

  50% {
    --_bg-color: #daa778;
  }

  75% {
    --_bg-color: #ee9b79;
  }
}

.avatar-wrapper {
  position: relative;
  width: var(--_avatar-width);
  height: var(--_avatar-height);
  cursor: pointer;

  &::before {
    content: '';
    width: calc(var(--_avatar-width) - 10px);
    height: calc(var(--_avatar-height) - 10px);
    border-radius: 50%;
    background: var(--_bg-color);
    position: absolute;
    inset: 0;
    margin: auto;
    z-index: -1;

    .root[data-active='true'] & {
      animation: avatar-background steps(4, end) 0.5s infinite;
    }
  }
}

.avatar {
  width: var(--_avatar-width);
  height: var(--_avatar-height);
  image-rendering: pixelated;
  object-fit: contain;
}

.description-card {
  --_height: 180px;
  --_width: 280px;

  height: var(--_height);
  width: var(--_width);
  border-radius: 8px;
  border: 3px solid var(--_bg-color);
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .root[data-active='true'] & {
    animation: avatar-background steps(4, end) 0.3s infinite;
  }

  :global(.header) {
    border-radius: 5px 5px 0 0;
    background-color: white;

    :global(.index) {
      font-size: 40px;
      margin-left: 1em;
    }

    :global(.name) {
      font-size: 45px;
      text-transform: uppercase;
    }
  }

  :global(.divider) {
    background: #7b6339;
    height: 8px;
  }

  :global(.skeleton) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background: #e7dec6;
    border-radius: 0 0 5px 5px;
    color: #7b6339;
    font-size: 35px;
    text-shadow: #c6b58c 0.05em 0.05em;
  }

  &[data-position] {
    position: absolute;
  }

  :where([data-page-length='1']) & {
    &[data-position='1'] {
      top: var(--_avatar-height);
      left: calc((var(--_width) - var(--_avatar-width)) / 2 * -1);
    }
  }

  :where([data-page-length='2'], [data-page-length='3']) & {
    &[data-position='1'] {
      top: 0;
      left: calc(var(--_avatar-width));
    }

    &[data-position='2'] {
      top: calc(var(--_avatar-height) / 5);
      right: calc(var(--_avatar-width));
    }
  }

  :where([data-page-length='3']) & {
    &[data-position='3'] {
      top: var(--_avatar-height);
      left: 0;
    }
  }

  :where([data-page-length='4']) & {
    &[data-position='1'] {
      top: calc(var(--_avatar-height) / 10);
      left: calc(var(--_avatar-width) / 4 * 3);
    }

    &[data-position='2'] {
      top: calc(var(--_avatar-height) / 5);
      left: calc(var(--_avatar-width) / -1);
    }

    &[data-position='3'] {
      top: calc(var(--_avatar-height) / 10);
      left: calc(var(--_avatar-width) / 7 * 6);
    }

    &[data-position='4'] {
      top: calc(var(--_avatar-height) / 5);
      left: calc(var(--_avatar-width) / -1);
    }
  }

  @media screen and (max-width: 1016px) {
    :where([data-page-length='1']) & {
      &[data-position='1'] {
        position: unset;
      }
    }

    :where([data-page-length='3']) & {
      &[data-position='3'] {
        top: calc(var(--_avatar-height) / 5);
        left: calc(var(--_avatar-width));
      }
    }
  }

  @media screen and (max-width: 576px) {
    &[data-position] {
      position: unset;
    }
  }
}
