.root {
  &[data-page-length='1'] {
    display: flex;
    justify-content: center;
  }

  &[data-page-length='2'] {
    display: flex;
    justify-content: space-around;

    > :nth-child(2) {
      margin-top: auto;
    }
  }

  &[data-page-length='3'] {
    display: flex;
    justify-content: space-between;

    > :nth-child(2) {
      margin-top: auto;
    }

    > :last-child {
      margin-top: 2rem;
    }
  }

  &[data-page-length='4'] {
    display: flex;
    justify-content: space-around;

    > :nth-child(2),
    > :nth-child(3) {
      margin-top: auto;
    }
  }
}
