.root {
  --_fire-red-text-color: var(--fire-red-black);
  --_fire-red-text-shadow-color: var(--fire-red-black-shadow);

  line-height: normal;
  color: var(--_fire-red-text-color);
  text-shadow: var(--_fire-red-text-shadow-color) 0.05em 0.05em;

  &[data-variant="white"] {
    --_fire-red-text-color: var(--fire-red-white);
    --_fire-red-text-shadow-color: var(--fire-red-white-shadow);
  }
  &[data-variant="orange"] {
    --_fire-red-text-color: var(--fire-red-orange);
    --_fire-red-text-shadow-color: var(--fire-red-orange-shadow);
  }
}
