.root {
  --_fr-text-color: var(--fr-black);
  --_fr-text-shadow-color: var(--fr-black-shadow);

  line-height: normal;
  color: var(--_fr-text-color);
  text-shadow: var(--_fr-text-shadow-color) 0.05em 0.05em;

  &[data-variant="white"] {
    --_fr-text-color: var(--fr-white);
    --_fr-text-shadow-color: var(--fr-white-shadow);
  }

  &[data-variant="orange"] {
    --_fr-text-color: var(--fr-orange);
    --_fr-text-shadow-color: var(--fr-orange-shadow);
  }
}
