.root {
  position: relative;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 12% 400px auto;
  margin-left: var(--fr-fz-sm);

  &[data-active='true'] {
    &::before {
      content: '▶';
      position: absolute;
      margin-top: auto;
      margin-bottom: auto;
      left: -1em;
      text-shadow: var(--fr-black-shadow) 2px 0.5px;
      font-size: var(--fr-fz-xs);
    }
  }
}

.index {
  font-size: var(--fr-fz-xs);
}

.name {
  font-size: var(--fr-fz-sm);
  text-transform: uppercase;
}
