.root {
  border-radius: 2rem;
  border: 0.5rem solid #c6b58c;
  height: 100%;
  display: flex;
  flex-direction: column;

  --_fr-section-radius: 1.5rem;
}

.general-info {
  border-top-left-radius: var(--_fr-section-radius);
  border-top-right-radius: var(--_fr-section-radius);

  background-color: white;
  padding: 1rem 3rem 0;
  display: flex;

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-right: 64px;

    p {
      font-size: var(--fr-fz-sm);
    }

    :global(.title) {
      font-size: var(--fr-fz-md);
      margin-bottom: 0.3em;

      span {
        font-size: var(--fr-fz-sm);
      }
    }
  }

  &-stat-grid {
    display: grid;
    grid-template-columns: 30% auto;
  }

  &-sprite {
    img {
      image-rendering: pixelated;
      object-fit: contain;
      height: calc(var(--fr-fz-md) * 5.5);
    }
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.divider {
  background-color: #7b6339;
  height: 1rem;
  border-top: 0.25rem solid #c6b58c;
  border-bottom: 0.25rem solid #c6b58c;
}

.description {
  border-bottom-left-radius: var(--_fr-section-radius);
  border-bottom-right-radius: var(--_fr-section-radius);

  background: #e7dec6;
  padding: 1rem 0.2rem;
  flex-grow: 1;
  word-break: break-word;

  p {
    font-size: var(--fr-fz-md);
  }
}
