:root {
  --fr-lime: #adc618;
  /* text */
  --fr-white: #fefefe;
  --fr-white-shadow: #636363;
  --fr-orange: #ff8c39;
  --fr-orange-shadow: #ce4239;
  --fr-black: #000;
  --fr-black-shadow: #e7dec6;

  --fr-fz-xss: 30px;
  --fr-fz-xs: 35px;
  --fr-fz-sm: 40px;
  --fr-fz-md: 45px;
  --fr-fz-heading: 50px;

  --fr-navbar-height: 4rem;
  --fr-main-height: calc(100dvh - var(--fr-navbar-height) * 2);
}

.root {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  font-size: var(--fr-fz-md);
}

.main {
  flex-grow: 1;
  background-color: #eff7f7;
  background-image: linear-gradient(to bottom, white 5px, transparent 5px);
  background-size: 100% 10px;
}
