:root {
  --fire-red-lime: #adc618;
  /* text */
  --fire-red-white: #fefefe;
  --fire-red-white-shadow: #636363;
  --fire-red-orange: #ff8c39;
  --fire-red-orange-shadow: #ce4239;
  --fire-red-black: #000;
  --fire-red-black-shadow: #e7dec6;
}
