.root {
  --_width: 3.4em;
  --_height: 1.4em;
  --_radius: 0.1em;
  --_bg: #adad7b;
  --_fz: var(--fr-fz-xs);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--_bg);
  width: var(--_width);
  height: var(--_height);
  margin-left: var(--_radius);
  margin-right: calc(var(--_radius) + 1px);

  :global(.mantine-Text-root),
  & {
    font-size: var(--_fz);
    text-transform: uppercase;
  }

  :global(.mantine-Text-root) {
    transform: scale(0.9, 1.1);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: calc(var(--_height) - (var(--_radius) * 2));
    background: var(--_bg);
    width: calc(var(--_radius) + 2px);
    position: absolute;
  }

  &::before {
    left: calc(var(--_radius) * -1);
  }

  &::after {
    right: calc(var(--_radius) * -1 - 1px);
  }

  /* types */
  &[data-type='bug'] {
    --_bg: #dee731;
  }

  &[data-type='dark'] {
    --_bg: #527b8c;
  }

  &[data-type='dragon'] {
    --_bg: linear-gradient(0deg, #ef3100 50%, #6b94f7 50%);
  }

  &[data-type='electric'] {
    --_bg: #ffb510;
  }

  &[data-type='fighting'] {
    --_bg: #ef3100;
  }

  &[data-type='fire'] {
    --_bg: #f78431;
  }

  &[data-type='flying'] {
    --_bg: linear-gradient(0deg, #adad7b 50%, #9cdede 50%);
  }

  &[data-type='ghost'] {
    --_bg: #a542a5;
  }

  &[data-type='grass'] {
    --_bg: #7bce52;
  }

  &[data-type='ground'] {
    --_bg: linear-gradient(0deg, #bda539 50%, #dee731 50%);
  }

  &[data-type='ice'] {
    --_bg: #9cdede;
  }

  &[data-type='poison'] {
    --_bg: linear-gradient(0deg, #a542a5 50%, #ff5a8c 50%);
  }

  &[data-type='psychic'] {
    --_bg: #ff5a8c;
  }

  &[data-type='rock'] {
    --_bg: #bda539;
  }

  &[data-type='steel'] {
    --_bg: linear-gradient(0deg, #527b8c 50%, #adad7b 50%);
  }

  &[data-type='water'] {
    --_bg: #6b94f7;
  }

  @media screen and (max-width: 480px) {
    --_height: 1.6em;
  }
}
